.container-seats {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
//create animation when sidebar class is set on an element
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.seat-selector {
    flex: 2 1 0;
}

.screenSVG {
    width: 500px;
    height: 500px;
    margin-bottom: -130px;
}
